# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
env/
*.egg-info/
dist/
build/
*.sqlite3
staticfiles/

# Node
node_modules/
dist/
.vite/
*.local

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Secrets
*.pem
*.key
credentials.json
token.json
.env.txt 
.env 
